.footer{
    margin-top: 70px;
}


.article-footer{
    width: 100%;
    height: 45px;
    width: 100%;
    height: 45px;
}

.texto{
    margin: 0 auto;
}

.selection-carousel{
    margin-top: 15px;
}
.selection-carousel h6{
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}